body { 
    background-color: coral;
    font-family: Arial;
  }

.center{
  margin: 100px;
}

.close{
  background-image: url('https://www.wallpapertip.com/wmimgs/15-151518_rainbow-horizontal-lines.jpg');
  background-repeat: no-repeat;
  border: 5px solid rgb(112, 30, 30);
  background-color: rgb(31, 153, 47);
  text-align: center;
  padding: 30px;
  margin: 50px;
  color: aliceblue;
}

.boxed {
  font-family: cursive;
  height: 700px;
  width: 300px;
  border: 5px solid rgb(0, 0, 0);
  padding: 30px;
  margin: 10px;
  float: left;
  background-color: aliceblue;
  text-align: center;
}

.links{
  height: 20px;
  width: 200px;
  border: 3px solid rgb(0, 0, 0);
  padding: 30px;
  margin: 10px;
  float: left;
  background-color: black;
  color: antiquewhite;
  text-align: center;
}

.image{
  height: 200px;
  width: 200px;
  border-radius: 30px;
}

.image_artist{
  height: 50px;
  width: 50px;
  border-radius: 30px;
}

.lyricsLinks{
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: wheat;
  text-align: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


