<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title> No Title </title>
    {% endif %} 

</head>
<body>
    
    {% for track in songs_by_weekend %}
    <div class="boxed">
        <h1> {{track}} </h1>

        <h4>By The Weekend</h2>

        <img class = "image_artist" src="{{ weekend_image }}" alt="">

        <br>

        <img class = "image" src="{{ songs_by_weekend[track]['link_to_displayPhoto'] }}" alt="">

        <br>

        <audio controls>
            <source src="{{ songs_by_weekend[track]['preview'] }}" type="audio/mpeg"> 
        </audio>
    
        <br>

        <a class = "links" href="{{ songs_by_weekend[track]['link_to_song'] }}" target=”_blank”>Want to hear the full song?</a>

    </div>
    {% endfor %}
   
</body>
</html>