<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title> {{ title }} </title>
    {% else %}
        <title> No Title </title>
    {% endif %} 

</head>
<body>
    
    <div class="topnav">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="#">{{ current_user.username }}</a>
        {% else %}
            <a href="{{ url_for('login_page') }}">Login</a>
            <a href="{{ url_for('register_page') }}">Sign Up!</a>
        {% endif %}
    </div>
    
    <div>
        {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
    
    {% block content %}

    <div class="center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
            <div>
                {{ form.uri.label }}
                    {% if form.uri.errors %}
                        {{ form.uri }}
                            <div>
                                {% for error in form.uri.errors %}
                                    <span> {{ error }}</span>
                                {% endfor%}
                            </div>
                    {% else %}
                        {{ form.uri }}
                        {% endif %}
            </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
    </div>
    <h1>{{ length_of_db_values }}</h1>
    <div class="center">
        {% if length_of_db_values != 0 %}
        {% for track in artists[random_number][0] %}
        <div class="boxed">
            <h1> {{track}} </h1>

            <h4>
                {{ artists[random_number][2] }}
            </h4>

            <img class = "image_artist" src="{{ artists[random_number][1] }}" alt="">

            <br>

            <img class = "image" src="{{ artists[random_number][0][track]['link_to_displayPhoto'] }}" alt="">

            <br>

            <audio controls>
                <source src="{{ artists[random_number][0][track]['preview'] }}" type="audio/mpeg"> 
            </audio>
        
            <br>

            <a class = "links" href="{{ artists[random_number][0][track]['link_to_song'] }}" target=”_blank”>Want to hear the full song?</a>

            <br>

            <a class = "lyricsLinks" href="{{ artists[random_number][0][track]['lyrics_url'] }}" target=”_blank”>Lyrics</a>

        </div>
        {% endfor %}
        {% else %}
            Looks like you do not have any artist saved!
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>