{% extends "index.html" %}
{% block content %}

<div class="page">
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="field">
        <div>
            {{ form.username.label }}
                {% if form.username.errors %}
                    {{ form.username(class="border") }}
                        <div>
                            <div class="error">
                                {% for error in form.username.errors %}
                                    <span> {{ error }}</span>
                                {% endfor%}
                            </div>
                        </div>
                {% else %}
                    {{ form.username(class="border") }}
                    {% endif %}
        </div>
        <div>
            {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(class="border") }}
                            <div class="error">
                                {% for error in form.password.errors %}
                                    <span> {{ error }}</span>
                                {% endfor%}
                            </div>
                {% else %}
                    {{ form.password(class="border") }}
                    {% endif %}
        </div>
    </fieldset>
    <div class="field">
        {{ form.submit(class="button") }}
    </div>
</form>
</div> 


{% endblock %}

